@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --color-light: #fff;
  --color-dark: #000000;
  --color-primary: #f7941e;
}

body {
  min-height: 100vh;
  position: relative;

  color: black;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.iconburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  gap: 9px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.open .line:first-child {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}
.open .line:last-child {
  transform: translateY(-5px) rotate(-45deg);
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background: #000000;
  transition: transform 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media screen and (min-width: 992px) {
  .iconburger {
    display: none;
  }
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: var(--color-light);
  backdrop-filter: blur(3px);
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav__logo {
  cursor: pointer;
  display: flex;
}
.nav__links {
  display: flex;
  display: none;
}
.mobile__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: var(--color-light);
  width: 100%;
  padding: 10px 0;
  height: 100vh;
  top: 66px;
  left: 0;
  z-index: 1;
  padding-bottom: 100px;
  text-transform: capitalize;
}

.nav__link {
  color: #878787;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  width: 90%;
  text-align: center;
  cursor: pointer;
  padding: 12px 0;
  text-transform: capitalize;
}

.nav__close {
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
  padding: 15px;

  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (min-width: 992px) {
  .nav__content {
    padding: 30px 0;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
    gap: 46px;
    align-items: center;
  }
  .nav__link {
    padding: 0;
    border-bottom: initial;

    display: inline-block;
    text-align: center;
    width: initial;
  }

  .mobile__menu {
    display: none;
  }
}

.active {
  color: #ffffff;
}

.home {
  width: 100%;
}
.home__content {
  min-height: 746px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  gap: 40px;
}
.home__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.home__title {
  color: #0f0d0d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  max-width: 265px;
}

.home__span {
  color: var(--color-primary);
}
.home__subtitle {
  text-align: left;
  color: #646262;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  max-width: 460px;
  width: 100%;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 27px; /* 168.75% */
}
.home__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 26px;
}
.home__start {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.96px;
  width: 100%;
}
.home__contact {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.96px;
  border: 1px solid #000;
  background-color: var(--color-dark);
  width: 100%;
}
.home__image {
}
.home__image img {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .home__start,
  .home__contact {
    max-width: 170px;
  }
}
@media screen and (max-width: 992px) {
  .home__link_demo {
    max-width: 350px;
    width: 100%;
  }
  .home__button {
    max-width: 350px;
    width: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 390px) {
  .home__title {
    line-height: 45px;
    font-size: 44px;
    max-width: 332px;
  }
}

@media screen and (min-width: 768px) {
  .home__content {
    flex-direction: row;
    padding-top: 106px;
  }
  .home__title {
    font-size: 53px;
    line-height: 65px;
    max-width: 580px;
    text-align: left;
  }
  .home__subtitle {
    font-size: 20px;
    text-align: left;
  }
  .home__buttons {
    flex-direction: row;
  }
  .home__button {
    border: none;
  }
}
@media screen and (min-width: 992px) {
  .home__title {
    font-size: 65px;
    line-height: 80px;
    max-width: 530px;
    text-align: left;
  }
  .home__text {
    align-items: flex-start;
  }
  .home__subtitle {
    text-align: left;
  }
  .home__buttons {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .home__title {
    font-size: 80px;
    max-width: 615px;
  }
}
/*____________ Home ___________*/
/*____________ Form ___________*/

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(/image/form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.form__title {
  margin-bottom: 50px;
  color: var(--color-light);
  font-weight: 700;
}
.form__content {
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  /* align-items: center; */
  margin: auto;
  text-align: center;
}
.form__group {
}
.form__input {
  border: none;
  padding: 18px;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.form__button {
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  padding: 15px;

  font-weight: 600;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/*____________ Form ___________*/

/*____________ Admin ___________*/

.admin {
  width: 100%;
}
.admin__content {
  min-height: 746px;
  padding-top: 150px;
  text-align: center;
}
.admin__paragraph {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.admin__input {
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  border: 1px solid rgb(173, 173, 173);
}

.admin__form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: auto;
  gap: 20px;
}

.admin__button {
  width: 100%;

  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.96px;

  border: none;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/*____________ Admin ___________*/
.card {
  padding: 100px 0;
  width: 100%;
}
.card__content {
  min-height: 200px;
  border: 2px solid rgba(171, 171, 171, 0.381);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}
.card__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card__title {
  font-weight: 600;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.card__hotel {
  font-size: 6vw;
  font-weight: 600;
  text-align: center;
}
.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.card__editar {
  display: flex;
  background-color: #00ff00;
  border: none;
  padding: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card__eliminar {
  display: flex;
  background-color: #ff0000;
  border: none;
  padding: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .card__hotel {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
}
